---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'تماس با من',
};
---

<Layout metadata={metadata}>
  <section class="px-4 py-16 sm:px-6 lg:px-8 lg:py-20 max-w-4xl mx-auto text-right" dir="rtl">
    <h1 class="font-bold font-heading text-4xl md:text-5xl leading-tighter tracking-tighter mb-8">تماس با من</h1>
    <div class="prose prose-lg max-w-4xl dark:prose-invert prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-blue-600 dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg">
      <p>بهترین راه ارتباط با من از طریق پیام‌رسان <strong>ایتا</strong> است.</p>
      <p>آی‌دی من: <strong dir="ltr">@alikavari</strong></p>
      <p>می‌توانید سوالات علمی، پیشنهادات یا هر فکر جالبی که دارید را با من در میان بگذارید. حتماً پاسخ می‌دهم.</p>
    </div>
  </section>
</Layout>
