---
import '~/assets/styles/tailwind.css';

import { I18N } from 'astrowind:config';

import CommonMeta from '~/components/common/CommonMeta.astro';
import Favicons from '~/components/Favicons.astro';
import CustomStyles from '~/components/CustomStyles.astro';
import ApplyColorMode from '~/components/common/ApplyColorMode.astro';
import Metadata from '~/components/common/Metadata.astro';
import SiteVerification from '~/components/common/SiteVerification.astro';
import Analytics from '~/components/common/Analytics.astro';
import BasicScripts from '~/components/common/BasicScripts.astro';
import UserLogin from '~/components/UserLogin.astro';

// Comment the line below to disable View Transitions
import { ClientRouter } from 'astro:transitions';

import type { MetaData as MetaDataType } from '~/types';

export interface Props {
  metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N;
---

<!doctype html>
<html lang="fa" dir="rtl" class="2xl:text-[20px]">
  <head>
    <CommonMeta />
    <Favicons />
    <CustomStyles />
    <ApplyColorMode />
    <Metadata {...metadata} />
    <SiteVerification />
    <Analytics />

    <link rel="preconnect" href="https://images.unsplash.com" />
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" />
    <style>
     body, p, h1, h2, h3, h4, h5, h6, a, li, span, div { font-family: 'Vazirmatn', sans-serif; }
    </style>

    <!-- Comment the line below to disable View Transitions -->
    <ClientRouter fallback="swap" />

    <!-- Firebase SDK -->
    <script type="module">
      import { initializeApp } from "https://www.gstatic.com/firebasejs/12.14.0/firebase-app.js";
      import { getAnalytics } from "https://www.gstatic.com/firebasejs/12.14.0/firebase-analytics.js";
      import { getAuth } from "https://www.gstatic.com/firebasejs/12.14.0/firebase-auth.js";

      const firebaseConfig = {
        apiKey: "AIzaSyAc4N13VRf0YncDAIwTO66ZXcloiIQqjpw",
        authDomain: "alikavari.firebaseapp.com",
        projectId: "alikavari",
        storageBucket: "alikavari.firebasestorage.app",
        messagingSenderId: "833755635104",
        appId: "1:833755635104:web:e864c2475b07caa1d798c5",
        measurementId: "G-7JVKZS1ZNF"
      };

      const app = initializeApp(firebaseConfig);
      const analytics = getAnalytics(app);
      const auth = getAuth(app);

      // قرار دادن auth در دسترس کل صفحه
      window.firebaseAuth = auth;
    </script>
  </head>

  <body class="antialiased text-default bg-page tracking-tight">
    <UserLogin />
    <slot />

    <BasicScripts />
  </body>
</html>
